:root{
--lightgrey: #EDEDF6;
--lightblue:#92CCCD ;
--blue:#445876 ;
--darkgrey:#31343D;
}

*{
font-family: Arial, Helvetica, sans-serif;
}

header{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
background-color:var(--darkgrey) ;
padding: 10px 0px;

}

h1{
    font-size: 60px;
    
    background-color: var(--lightblue);
    color: var(--darkgrey);
    padding: 6px;
    padding-left: 60px;
    
}

nav{
margin-right: 50px;

}

a{
    font-size: 30px;
    text-decoration: none;
    font-weight: 200;
    color: var(--lightblue);
    padding: 4px 10px;
    border-bottom: 4px solid #92CCCD;
    margin-right: 5px;
}

figure{
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url("../images/view-blue-wood-texture.jpg");
    background-size:cover;

}

.subtitle{
    position: absolute;
    font-size: 40px;
    font-weight: bold;

    right:90px;
    bottom: 20px;
    background-color: var(--lightblue);
    color:var(--darkgrey);
    padding: 7px;
}