:root {
  --lightgrey: #ededf6;
  --lightblue: #92cccd;
  --blue: #445876;
  --darkgrey: #31343d;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #31343d;
  scroll-behavior: smooth;
}

body {
  background-color: var(--lightgrey);
}

.align-center {
  align-items: center;
}

.column-direction {
  flex-direction: column;
}

.row-direction {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}
/* Start of header------------------------------------------- */
header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkgrey);
  padding: 10px 0px;
}

/* Pichardo name on the top left of the page */
h1 {
  font-size: 60px;
  background-color: var(--lightblue);
  color: var(--darkgrey);
  padding: 6px;
  padding-left: 60px;
}

nav {
  margin-right: 50px;
}

nav a {
  position: relative;
  font-size: 30px;
  text-decoration: none;
  font-weight: 200;
  color: var(--lightblue);
  padding: 4px 10px;
  border-bottom: 4px solid #92cccd;
  margin-right: 5px;
  z-index: 2;
}

nav span {
  position: relative;
  z-index: 2;
  color: #92cccd;
  transition: all 0.5s;
}

nav a::before {
  position: absolute;
  background-color: var(--lightblue);
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  height: 0%;
  width: 100%;
  transition: all 0.5s;
}

nav a:hover::before {
  height: 100%;
}

nav a:hover span {
  color: var(--darkgrey);
}
/* ---------------------------------------------------------- */

/* Banner Picture--------------------------------------------- */
figure {
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url("../images/castillo-de-Tossa-de-Mar.jpg");
  background-size: cover;
}

.subtitle {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;

  right: 90px;
  bottom: 20px;
  background-color: var(--lightblue);
  color: var(--darkgrey);
  padding: 7px;
}
/* ---------------------------------------------------------- */

/* Start of main content------------------------------------- */
main {
  display: flex;
  flex-direction: column;
  height: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px 0px;
  width: 100%;
}

.content span {
  color: #445876;
  display: block;
}

.space-even {
  justify-content: space-evenly;
}

/* lefthand content heading */
.leftside {
  text-align: end;
  flex: 0 0 20%;
  align-self: flex-start;
  padding: 30px 20px;
  font-size: 45px;
  color: var(--blue);
  flex-shrink: 1;
}

/* righthand actual content */
.rightside {
  display: flex;
  padding: 10px 40px;
  flex: 0 0 77%;
  border-left: 4px solid var(--blue);
  flex-wrap: wrap;
  padding-right: 0px;
}

.mystory {
  font-size: medium;
  line-height: 1.5;
}

.projectpic {
  height: 200px;
  width: 49%;
  border: 8px solid var(--lightblue);
  margin: 1% 0;
  position: relative;
  background-color: var(--blue);
  background-blend-mode: soft-light;
  transition: all 0.5s;
}
 /* Picture elements on the page */
#horiseon{
  background-image: url(../images/Preview.png);
  background-size: cover;
}

#prework{
  background-image: url(../images/prework.png);
  background-size: cover;
}

#comingSoon1{
  background-image: url(../images/coming-soon-design-template-9cdcd177c85de52a33df465d5102a8d6_screen.jpg);
  background-size:contain;
}
#comingSoon2{
  background-image: url(../images/25516.jpg);
  background-size: contain;
}
#comingSoon3{
  background-image: url(../images/360_F_99828865_lW5dIHE9e4NCI8Lb5XaY4wL5CL32hiAI.jpg);
  background-size: contain;
}


.projectpic:first-child {
  height: 400px;
  flex-basis: 100%;
}

.projectpic:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
}

.piclabel {
  position: absolute;
  left: 0px;
  bottom: 18px;
  background-color: var(--lightblue);
  color: var(--darkgrey);
  padding: 1%;
}
/* ---------------------------------------------------------- */

/* Start of Footer------------------------------------------- */

.contact a {
  position: relative;
  font-size: 20px;
  text-decoration: none;
  font-weight: 200;
  padding: 4px 7px;
  border-bottom: 4px solid var(--blue);
  margin-right: 5px;
}

.contact span {
  position: relative;
  transition: all 0.5s;
}

.contact span:hover {
  transition: ALL 0.5s;
  color: var(--lightgrey);
}

.contact a::before {
  position: absolute;
  background-color: var(--blue);
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  height: 0%;
  width: 100%;
  transition: all 0.5s;
}

.contact a:hover::before {
  height: 100%;
}

.contact a:hover span {
  color: #ededf6;
}
/* ---------------------------------------------------------------------- */

@media screen and (max-width: 992px) {
  Header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    padding-bottom: 20px;
  }

  h1 {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }

  nav {
    padding-top: 10px;
    margin: 0;
  }

  .content {
    flex-direction: column;
  }

  .content h2 {
    text-align: center;
    align-self: flex-start;
    margin-left: 39px;
    padding: 12px;
  }

  .content span {
    color: #445876;
    display: inline;
  }

  .rightside {
    margin: 0px 20px;
    border: 0;
    display: flex;
    padding: 10px 40px;
    flex: 0 0 77%;
    border-top: 4px solid var(--blue);
    flex-wrap: wrap;
    padding-right: 0px;
    margin-top: 5px;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  .projectpic {
    background-image: url(../images/view-blue-wood-texture.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    border: 8px solid var(--lightblue);
    margin: 1% 0;
    position: relative;
    background-color: var(--blue);
    background-blend-mode: soft-light;
    transition: all 0.5s;
  }

  .projectpic:first-child {
    height: 200px;
  }

  .contact {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact a {
    margin-top: 15px;
  }
}
